@charset "UTF-8";


.main_title {
	margin-bottom: 20px;
}
.box-content{
		 margin-left: 50px;
}
.box-image {
	float: left;
	    margin-right: 50px;
	    margin-left: 50px;
}

.wrap-movie-detail {
	height: 400px;
	text-align: left;

}

#recommendationUnLike {
	background-color: white;
}

.movie-title {
	font-weight: bold;
	font-size: 25px;
	margin-left: 20px;
}

.spec {
	margin-top: 20px;
	margin-left: 20px;
	font-size: 13px;
}

.ect_detail {
	margin-top: 10px;
	font-weight: bold;
	font-size: 15px;

}

.detail-image {
	border: 1px solid black;
	width: 200px;
	height: 250px;
}
.btn_box{
	margin-top:50px;
}
.ect-btn{
	width:150px;
	height : 39px;
	padding: 2px 10px 2px 10px;
	font-size: 15px;
	font-weight: bold;}

.admin_btn{
	width:150px;
	height : 39px;
	padding: 2px 10px 2px 10px;
	font-size: 15px;
	font-weight: bold;
}
hr{
	width: 50%;
	
}